Repository IT-Cotato/10th-Economic-Learning-BE, pull requests merged in 2024-11, with the labels that each got.

#3 Feat : 공통응답클래스와 예외처리 구현 #1
  src/main/java/com/ripple/BE/global/dto/response/ApiResponse.java
  src/main/java/com/ripple/BE/global/entity/BaseEntity.java
  src/main/java/com/ripple/BE/global/exception/ApiException.java
  src/main/java/com/ripple/BE/global/exception/errorcode/ErrorCode.java
  src/main/java/com/ripple/BE/global/exception/errorcode/GlobalErrorCode.java
  src/main/java/com/ripple/BE/global/exception/handler/GlobalExceptionHandler.java
  src/main/java/com/ripple/BE/global/exception/response/ErrorResponse.java
Labels: :sparkles: Feat

#4 Feat : SpotlessApply 및 Pre-Commit 적용, MySQL 연동
  build.gradle
  scripts/pre-commit
  src/main/java/com/ripple/BE/RippleApplication.java
  src/main/java/com/ripple/BE/global/config/SwaggerConfig.java
  src/main/resources/application-local.yml
  src/main/resources/application.properties
  src/main/resources/application.yml
  src/test/java/com/ripple/BE/RippleApplicationTests.java
Labels: :recycle: Refactor, :sparkles: Feat

#8 Feat : Member 엔티티 추가 (#7)
  src/main/java/com/ripple/BE/global/member/domain/Gender.java
  src/main/java/com/ripple/BE/global/member/domain/Level.java
  src/main/java/com/ripple/BE/global/member/domain/LoginType.java
  src/main/java/com/ripple/BE/global/member/domain/Member.java
  src/main/java/com/ripple/BE/global/member/domain/Role.java
Labels: 🦴Domain, :sparkles: Feat

#9 [Feat] 멤버 엔티티 수정 (#7)
  src/main/java/com/ripple/BE/global/member/domain/Gender.java
  src/main/java/com/ripple/BE/global/member/domain/LoginType.java
  src/main/java/com/ripple/BE/global/member/domain/Role.java
  src/main/java/com/ripple/BE/member/domain/Member.java
  src/main/java/com/ripple/BE/member/domain/type/AgeRange.java
  src/main/java/com/ripple/BE/member/domain/type/BusinessType.java
  src/main/java/com/ripple/BE/member/domain/type/Gender.java
  src/main/java/com/ripple/BE/member/domain/type/Job.java
  src/main/java/com/ripple/BE/member/domain/type/Level.java
  src/main/java/com/ripple/BE/member/domain/type/LoginType.java
  src/main/java/com/ripple/BE/member/domain/type/Role.java
Labels: 🦴Domain

#10 Feat : 게시물, 용어, 뉴스, 카테고리, 이미지 엔터티 추가
  src/main/java/com/ripple/BE/category/domain/Category.java
  src/main/java/com/ripple/BE/chatbot/domain/ChatMessage.java
  src/main/java/com/ripple/BE/chatbot/domain/ChatSession.java
  src/main/java/com/ripple/BE/chatbot/domain/type/Sender.java
  src/main/java/com/ripple/BE/global/dto/response/ApiResponse.java
  src/main/java/com/ripple/BE/global/entity/BaseEntity.java
  src/main/java/com/ripple/BE/global/exception/ApiException.java
  src/main/java/com/ripple/BE/global/exception/errorcode/ErrorCode.java
  src/main/java/com/ripple/BE/global/exception/errorcode/GlobalErrorCode.java
  src/main/java/com/ripple/BE/global/exception/handler/GlobalExceptionHandler.java
  src/main/java/com/ripple/BE/global/exception/response/ErrorResponse.java
  src/main/java/com/ripple/BE/image/domain/Image.java
  src/main/java/com/ripple/BE/member/domain/Member.java
  src/main/java/com/ripple/BE/member/domain/type/AgeRange.java
  src/main/java/com/ripple/BE/member/domain/type/BusinessType.java
  src/main/java/com/ripple/BE/member/domain/type/Gender.java
  src/main/java/com/ripple/BE/member/domain/type/Job.java
  src/main/java/com/ripple/BE/member/domain/type/Level.java
  src/main/java/com/ripple/BE/member/domain/type/LoginType.java
  src/main/java/com/ripple/BE/member/domain/type/Role.java
  src/main/java/com/ripple/BE/news/domain/News.java
  src/main/java/com/ripple/BE/news/domain/NewsCategory.java
  src/main/java/com/ripple/BE/news/domain/NewsScrap.java
  src/main/java/com/ripple/BE/news/domain/NewsTerm.java
  src/main/java/com/ripple/BE/post/domain/Comment.java
  src/main/java/com/ripple/BE/post/domain/Post.java
  src/main/java/com/ripple/BE/post/domain/PostCategory.java
  src/main/java/com/ripple/BE/post/domain/PostLike.java
  src/main/java/com/ripple/BE/post/domain/PostScrap.java
  src/main/java/com/ripple/BE/post/domain/type/PostType.java
  src/main/java/com/ripple/BE/term/domain/Term.java
  src/main/java/com/ripple/BE/term/domain/TermCategory.java
  src/main/java/com/ripple/BE/term/domain/TermScrap.java
  src/main/resources/application-local.yml
Labels: 🦴Domain, :recycle: Refactor
